.card{
    max-width: 200px;
    margin: 0 auto;
    padding: 2%;
    width: 100%;
    border: 4px solid black;
    border-radius: 20px;
    border-color: #3CB371;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align:center;
}

.card-logo{
    max-width: 100px;
    width: 100%;
}

.card-div-logo{
    text-align: center;
}

.card-text{
    text-align: center;
}

.card-h3{
    margin: 0 auto;
}